/art/references/
/art/head-source.png
/prototype/
/original/
/character/
/interface/
/output/
/playable/
/roster/bin/
/roster/obj/
/image-generation/cache/
/image-generation/torch-cache/
/image-generation/triton-cache/
/image-generation/matplotlib-cache/
/image-generation/intermediates/
/image-generation/comfy-user/
/art/pixal-output/
__pycache__/
*.blend1
